@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --custom-bg-image: url('./assets/v880-kul-11.jpg');
}
body {
  background-image: var(--custom-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}